body {
    background-color: #F9FAFC;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;
}

p {
    font-family: "Work Sans", sans-serif;
}

.brand {
    font-family: "Work Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
}

.dark-bg {
    background-color: #000000;
}

.main-bg {
    background-color: #000000;
}

.card {
    background-color: transparent;
}

.author {
    color: #23BBBB;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: transparent;
    color: white;
    position: relative;
}

.post-link {
    text-decoration: none;
    color: #ffffff;
}

.post-sign {
    color: #23BBBB;
}

.post-link:hover {
    color: #23BBBB;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.l-blue {
    color: #23BBBB;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover {
    background-color: #fff;
    color: #23BBBB;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover {
    color: #a82c03;
    background: transparent;
    border: none;
}

.btn-trash {
    color: #23BBBB;
    border: none;
    background: transparent;
}

.btn-trash:hover {
    color: #445261;
    background: transparent;
    border: none;
}

.btn-edit {
    color: #23BBBB;
    border: none;
    background: transparent;
}

.btn-edit:hover {
    color: #445261;
    background: transparent;
    border: none;
}

@media screen and (max-width: 477px) {
    .post-h {
        margin-top: -35px;
        height: 25vh;
    }
}