{% extends "base.html" %}

{% block content %}

<!-- First page header -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text bg-white">
                <h3 class="post-title">Follow the adventures</h3>
                <p class="post-subtitle">Read comment and like stories about magic and dragons...</p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img class="img-fluid" src="https://res.cloudinary.com/miswaq/image/upload/v1693242357/eye-mythological-dragon-fire-generative-ai_188544-12557_eb4xdo.avif">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card md-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}">
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>                   
                            <hr />                        
                            <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i>{{ post.number_of_likes }}</p>   
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav ariel-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}